@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* dark 02 */
.text-grey{
    color: #424242;
}

/* dark 03 */
.text-light-grey{
    color: 727272;
}

/* secondary color */
.bg-light {
    background-color: rgba(255, 144, 14, 0.1)
}

.logo{
    font-weight: 700;
    font-size: 2rem;
}


.display-flex {
    display: flex;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    text-decoration: none;
}
    

.nav-links{

}

.nav-item{
   list-style: none;
   margin-right: 20px;
}


.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related style */
.banner{
}


.banner-content{
    max-width: 850px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 50px;

}

.banner-tittle{
    font-size: 64px;
    font-weight: 700;
}

.banner-description{
}

.banner-btn{
    color: #ffffff;
    background-color: #FF900E;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}


.banner-img{
    width: 100%;
}


