@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* dark 01 */
.text-black{
    color: #131313;
}

/* dark 02 */
.text-grey{
    color: #424242;
}

/* dark 03 */
.text-light-grey{
    color: #727272;
}

/* orange  */
.text-org{
    color: #FF900E;
}

/* secondary color */
.bg-light {
    background-color: rgba(255, 144, 14, 0.1)
}

.logo{
    font-weight: 700;
    font-size: 2rem;
}


.display-flex {
    display: flex;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    text-decoration: none;
}

.nav-item{
   list-style: none;
   margin-right: 20px;
}


.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related style */


.banner-content{
    max-width: 850px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 50px;

}

.banner-tittle{
    font-size: 64px;
    font-weight: 700;
}


.banner-btn{
    color: #ffffff;
    background-color: #FF900E;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}


.banner-img{
    width: 100%;
    padding-bottom: 60px;
}







/* second part about team Features */
main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 70px;
}

.teams{
   align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.team-img-container{
    margin: 20px;
}

.our-features{
    margin-left: 73px;
}

.feature-tittle{
    font-size: 2.8125rem;
    font-weight: 600;
}
.light-weight{
    font-size: 2.8125rem;
    font-weight: 400 !important;
}


/* Features you will love & enjoy */
.features02{
    display: flex;
}

.features02-texts{

}







/* Fact card section */
.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

.fact-section-tittle{
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 25px;
}

.fact-tittle-des{
    width: 542px;
    margin-bottom: 100px;
}

.fact-card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 242px;
    height: 240px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.fact-number{
    font-size: 2.8125rem;
    font-weight: 600;
    margin: 10px auto 5px;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin: 5px auto 1px;
}
/* Fact card section end */





/* responsive media query */
@media screen and (max-width: 576px){
    .navbar, 
    .nav-links, 
    .display-flex{
        flex-direction: column;
    }
.team-img-container{
    grid-template-columns: repeat(1, 1fr);
}
    
.our-features{
    margin: 4%;
}

/* fact section  */
.fact-tittle-des{
    width: 100%;
}
.fact-container{
    grid-template-columns: repeat(1, 1fr);
}

.fact-card{
     margin: 10px auto;
}
/* fact section  */
}








/* medium size screen */
@media screen and (min-width: 576px) and (max-width: 992px){
    .display-flex{
        flex-direction: column;
    }
/* fact section  */
    .fact-container{
    grid-template-columns: repeat(2, 1fr);
}

.fact-card{
     margin: 10px auto;
}
    /* fact section  */

}
