@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* dark 01 */
.text-black{
    color: #131313;
}

/* dark 02 */
.text-grey{
    color: #424242;
}

/* dark 03 */
.text-light-grey{
    color: #727272;
}

/* orange  */
.text-org{
    color: #FF900E;
}

/* secondary color */
.bg-light {
    background-color: rgba(255, 144, 14, 0.1)
}

.logo{
    font-weight: 700;
    font-size: 2rem;
}


.display-flex {
    display: flex;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    text-decoration: none;
}

.nav-item{
   list-style: none;
   margin-right: 20px;
}


.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related style */


.banner-content{
    max-width: 850px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 50px;

}

.banner-tittle{
    font-size: 64px;
    font-weight: 700;
}


.banner-btn{
    color: #ffffff;
    background-color: #FF900E;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}


.banner-img{
    width: 100%;
    padding-bottom: 60px;
}
/* banner part complete */





/* second part about team Features */
main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 70px;
}

.teams{
   align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.team-img-container{
    margin: 20px;
}

.our-features{
    margin-left: 73px;
}

.feature-tittle{
    font-size: 2.8125rem;
    font-weight: 600;
}
.light-weight{
    font-size: 2.8125rem;
    font-weight: 400 !important;
}
/* second part about team Features complete */


/* Features you will love & enjoy */
.features02{
    display: flex;
    gap: 150px;
}

.feature02-texts{
    max-width: 560px;
    gap: 50px;
}

.feature02-heading{
    font-size:2.8rem;
    font-weight: 700;
}

#feature02-heading-style {
border-left: 5px solid #FF900E;
padding-left:20px;
}

.feature02-card{
    font-weight: 400;
    font-size: 1rem;
    padding: 25px 15px;
    box-shadow: 0 4px 30px 0 rgba(0,0,0,0.06);
    border-radius: 8;
    margin-bottom: 20px;   
}

#exp-badge{
    padding: 45px 42px;
    font-size:1.45rem ;
    font-weight: 500;
    margin-top: -123px;
    margin-left: -92px;
}

#exp-years{
    font-size: 4rem;
    font-weight: 700;
}


/* Fact card section */
.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

.fact-section-tittle{
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 25px;
}

.fact-tittle-des{
    width: 542px;
    margin-bottom: 100px;
}

.fact-card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 242px;
    height: 240px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.fact-number{
    font-size: 2.8125rem;
    font-weight: 600;
    margin: 10px auto 5px;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin: 5px auto 1px;
}
/* Fact card section end */




/* sponsor section */

.sponsors {
    padding: 80px 20px;
}

.sponsor-info {
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
}

.sponsor-tittle{
    font-size: 2.8rem;
    font-weight: 700;
}

.sponsor-tittle-des{
    font-size: 1rem;
    font-weight: 300;
}

.sponsors-logo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 40px;
    justify-items: center;
    align-items: center;
    margin-top: 50px;
}

.sponsors-logo img {
    max-width: 120px;
    height: auto;
    filter: grayscale(100%);
}

.sponsors-logo img:hover {
    filter: grayscale(0%);
}
/* sponsor section complete */


/* footer section  */
.copyright{
    width: 1350px;
    text-align: center;
    background-color: rgba(255, 244, 231, 1);
    padding:20px 20px;
    margin: 170px auto 216px;
    border-radius: 8;
}

.copyright-description{
    
    font-size: 20px;
    font-weight: 400;
    color: #424242; 
}
/* footer complete */



/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links, 
    .display-flex{
        flex-direction: column;
    }
    
.team-img-container{
    grid-template-columns: repeat(1, 1fr);
}
    
.our-features{
    margin: 4%;
}


/* feature02 section */
.features02{
    flex-direction: column;
}

.thumbnail-banner{
    align-items: center;
}

.thumbnail-banner img{
    width: 100%;
}

#exp-badge{
    margin: 20px auto;
}
/* feature02 section end */

/* fact section  */
.fact-tittle-des{
    width: 100%;
}
.fact-container{
    grid-template-columns: repeat(1, 1fr);
}

.fact-card{
     margin: 10px auto;
}
/* fact section  */


/* sponsor section */
.sponsors-logo {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        justify-items: center;
}

.sponsor-tittle {
        margin-top: 40px;
        font-size: 2rem;
}

/* footer section */
.copyright {
        max-width: 100%;
        margin: 60px 16px;
        padding: 24px 16px;
        border-radius: 6px;
    }

    .copyright-description {
        font-size: 16px;
        line-height: 1.5;
    }
    /* footer section complete */
}






/* medium size screen */
@media screen and (min-width: 576px) and (max-width: 992px){
    .display-flex{
        flex-direction: column;
    }


/* features02 section */
.features02{
    flex-direction: column;
}

.thumbnail-banner{
    align-items: center;
}

.thumbnail-banner img{
    width: 100%;
}

#exp-badge{
    
    margin: 20px;
    margin-left: 27%;
}

/* feature02 section end */
/* fact section  */
    .fact-container{
    grid-template-columns: repeat(2, 1fr);
}

.fact-card{
     margin: 10px auto;
}
    /* fact section end */



/* sponsor section */
.sponsors-logo {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
}

/* footer section */
.copyright {
        max-width: 90%;
        margin: 120px auto 160px;
        padding: 32px;
        border-radius: 8px;
    }

    .copyright-description {
        font-size: 18px;
        line-height: 1.6;
    }
    /* footer section complete */
}